#section_one {
	height:1055px;
	padding:0 100px;
	position: relative;
	img.hero {
		width:100%;
		height:100%;
		position: absolute;
		top:0;
		left:0;
		object-fit:cover;
	}
}


.inner_sec_one {
	max-width: 1617px;
	margin:0 auto;
	position: relative;
	z-index:1;
	padding:290px 0 0;
	display: flex;
}


.sec_one_content {
	
}


span.sec_one_header {
	color:#fff;
	font-size: 115px;
	line-height: 100px;
	display: block;
	max-width:650px;
	@include escrow_banner_bold;
}



a.free_consulation {
	background: $red;
	margin-top:58px;
	height:80px;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	
	display: inline-block;
	padding:0 53px 0 35px;
	position: relative;
	border-radius: 3px;
	transition: all 200ms ease-in-out;
	@include source_bold;
	&:hover {
		background: $orange;
	}
	&:after {
		content:"request free case evaluation";
		margin-top:28px;
		display: block;
		font-size: 20px;
	letter-spacing: 0.1em;
	}
	svg {
		position: absolute;
		top:28px;
		right:-45px;
		width:73px;
		height:22px;
	}
}


span.featured_on {
	display: block;
	text-transform: uppercase;
	color:$grey;
	font-size:15px;
	letter-spacing: 0.2em;
	margin-top:80px;
	@include source_bold;
}


.featured_wrapper {
	width:100%;
	max-width:628px;
}

.featured_slider {
	display: flex;
	align-items: center;
	margin-top:47px;
	justify-content: space-between;
	.featured_slide {
		img {
			max-height:76px;
		}
	}
}



.play_wrapper {
	position: relative;
	height:225px;
	width:225px;
	margin:410px 0 0 175px;
	&:hover {
		.play_outer {
			.play_inner {
				&:before {
					opacity: 1;
				}
			}
		}
	}
	.play_text {
		width:190px;
		height:190px;
		position: absolute;
		top:-17px;
		left:0;
	}
	.play_outer {
		height:165px;
		width:165px;
		border:2px solid $yellow;
		border-radius:50%;
		margin:35px 0 0 35px;
		.play_inner {
			height:111px;
			width:111px;
			background: $yellowgradient;
			border-radius:50%;
			margin:25px 0 0 25px;
			position: relative;
			&:before {
				content:"";
				display: block;
				height:111px;
				width:111px;
				background: $red;
				border-radius:50%;
				opacity: 0;
				transition: all 400ms ease-in-out;
			}
			&:after {
				content:"";
				display: block;
				position: absolute;
				top: 44px;
				left: 52px;
				width: 0; 
				height: 0; 
				border-top: 11px solid transparent;
				border-bottom: 12px solid transparent;
				border-left: 14px solid #fff;
			}
		}
	}
}


a.tablet_logo {
	display: none;	
}


@media screen and (max-width: 1450px) {
	
	#section_one {
		height:927px;
		padding-right:50px;
		img.hero {
			
		}
	}
	
	span.sec_one_header {
		font-size: 100px;
		line-height: 85px;
	}
	
	.inner_sec_one {
		padding: 268px 0 0;
	}
	
	
	a.free_consulation {
    margin-top: 44px;
  }
  
  
  span.featured_on {
	  margin-top: 62px;
  }
  
  .featured_slider {
	  margin-top: 35px;
  }
  
  
  .play_wrapper {
	  margin: 340px 0 0 0px;
  }
  
  
  .inner_sec_one {
	  justify-content: space-between;
  }
  
  .featured_wrapper {
	  max-width: 604px;
  }
     
	
	
} /* Media Query */



@media screen and (max-width: 1310px) {
	
	
	#section_one {
		margin-top:90px;
		height:785px;
	}
	
	
	a.tablet_logo {
		display: block;	
		img {
			width:424px;
			height:82px;
		}
	}
	
	
	.inner_sec_one {
    padding: 43px 0 0;
	}
	
	
	span.sec_one_header {
		font-size: 87px;
		line-height: 74px;
		padding-top: 56px;
		max-width:611px;
	}
	
	a.free_consulation {
		height:68px;
		margin-top: 46px;
		padding-left:46px;
		&:after {
			content:"Free Case Evaluation";
			margin-top: 24px;
		}
		svg {
			top: 24px;
		}
	}
	
	span.featured_on {
    margin-top: 76px;
	}
	
	
	.play_wrapper {
    margin: 507px 20px 0 0px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	
	#section_one {
		padding-left:70px;
		padding-right:0px;
		img.hero {

		}
	}
	
	
.inner_sec_one {
	
}
	
	
	
	.play_wrapper {
		height: 169px;
    width: 169px;
    margin: 545px 60px 0 0px;
    
		.play_text {
			width: 155px;
			height: 155px;
			top: -13px;
		}
		.play_outer {
			width:137px;
			height:137px;
			margin: 28px 0 0 28px;
			.play_inner {
				width:92px;
				height:92px;
				margin: 20px 0 0 20px;
				&:before {
					width:92px;
				height:92px;
				}
				&:after {
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
					border-left: 12px solid #fff;
					top: 35px;
					left: 42px;
				}
			}
		}
	}
	
		
	.featured_slider {
		display: block;
		max-width: 335px;
		margin-top:-15px;
		margin-left:0px;
	}
	
	.featured_slide {
		height:79px;
	}
	

	.featured_inner_slide {
		display: flex;
		height:100%;
		justify-content: center;
		align-items: center;
	}
	
	
	.featured_wrapper {
		margin-top:45px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 790px) {
	
	
	
	.play_wrapper {
		position: absolute;
		//bottom:27px;
		right:0;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	#section_one {
		margin-top: 75px;
		padding-left:40px;
		padding-right: 36px;
		height:747px;
	}
	
	
	
	
	a.tablet_logo {
		margin-bottom:30px;
		img {
			width:100%;
			max-width:424px;
			height:auto;
		}
	}
	
	
	span.sec_one_header {
		font-size: 61px;
		line-height: 52px;
		max-width: 411px;
		padding-top:0px;
	}
	
	
	.inner_sec_one {
    padding: 31px 0 0;
    display: block;
	}
	
	a.free_consulation {
		margin-top: 25px;
		height:59px;
		
		padding-left:32px;
		&:after {
			margin-top: 21px;
			font-size: 18px;
		}
		svg {
			top: 19px;
		}
	}
	
	
	span.featured_on {
		display: none;
	}
	
	
	.featured_wrapper {
		display: none;
	}
	
	
	.play_wrapper {
		position: relative;
		bottom:auto;
		top: 201px;
		right:0;
		margin:0;
		.play_text {
			width:124px;
			height:124px;
			top: -10px;
		}
		//background: pink;
		.play_outer {
			width:112px;
			height:112px;
			margin:0;
			position: relative;
			top:25px;
			left:25px;
			.play_inner {
				width:75px;
				height:75px;
				margin: 16px 0 0 16px;
				&:before {
					width:75px;
					height:75px;
				}
				&:after {
					top: 29px;
					left: 35px;
					border-top: 8px solid transparent;
					border-bottom: 8px solid transparent;
					border-left: 10px solid #fff;
				}
			}
		}
	}
	    
	
	
} /* Media Query */



@media screen and (max-width: 413px) {
	
	
	
span.sec_one_header {
	font-size:50px;
}


a.free_consulation {
	padding-right:32px;
	svg {
		display: none;
	}
}
	
	
	
} /* Media Query */



@media screen and (max-width: 370px) {
	
	
	
	
	
	a.free_consulation {
		padding-left:20px;
		padding-right:20px;
	}

	
	
} /* Media Query */

