body {
	color:$blue;
}


.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
	max-width:100%;
	height:auto;
}



h1,h2,h3,h4 {
	font-style: normal;
	font-weight: 300;
}



.gform_wrapper ul li ::-webkit-input-placeholder {
  color: #000; }
.gform_wrapper ul li ::-moz-placeholder {
  color: #000; }
 .gform_wrapper ul li :-moz-placeholder {
   color: #000; }
 .gform_wrapper ul li :-ms-input-placeholder {
   color: #000; }
 .gform_wrapper ul li ::-moz-placeholder {
    opacity: 1; }
    
    
    
    
    
.searchbar_wrapper ::-webkit-input-placeholder {
  color: $blue; }
.searchbar_wrapper ::-moz-placeholder {
  color: $blue; }
 .searchbar_wrapper :-moz-placeholder {
   color: $blue; }
 .searchbar_wrapper :-ms-input-placeholder {
   color: $blue; }
 .searchbar_wrapper ::-moz-placeholder {
    opacity: 1; }
    
    
 .search_page_wrapper ::-webkit-input-placeholder {
  color: $blue; }
.search_page_wrapper ::-moz-placeholder {
  color: $blue; }
 .search_page_wrapper :-moz-placeholder {
   color: $blue; }
 .search_page_wrapper :-ms-input-placeholder {
   color: $blue; }
 .search_page_wrapper ::-moz-placeholder {
    opacity: 1; }



.internal_header {
	padding-bottom: 23px;
	font-size: 60px;
	line-height: 60px;
	margin-bottom: 36px;
	//font-size: 75px;
	//line-height: 75px;
	//padding-bottom: 45px;
	//margin-bottom:50px;
	display: block;
	border-bottom:2px solid $red;
	@include escrow_banner_bold;
}


.internal_centered_header {
	font-size: 100px;
	text-align: center;
	padding-top:111px;
	line-height: 93px;
	padding-left: 100px;
	padding-right:100px;
	@include escrow_banner_bold;
	&:after {
		content:"";
		display: block;
		background: url(#{$themePath}images/stars-orange.svg) top left no-repeat;
		width: 158px;
		height: 25px;
		margin:37px auto 28px;
	}
}

.content {
	font-size: 18px;
	line-height: 36px;
	@include source_reg;
	h2 {
		color:$orange;
		text-transform: uppercase;
		font-size: 30px;
		line-height: 31px;
		margin-bottom:35px;
		@include source_black;
	}
	h3 {
		color:$blue;
		font-size: 22px;
		line-height: 33px;
		margin-bottom:37px;
		@include source_bold;
	}
	h3.red {
		color:$red;
		font-size: 25px;
	}
	p, ul, ol {
		margin-bottom:37px;
	}
	a {
		color:$red;
		transition: all 200ms ease-in-out;
		&:hover {
			text-decoration: underline;
		}
	}
	ul {
		list-style: none;
		li {
			padding-left:30px;
			position: relative;
			margin-bottom:25px;
			&:last-of-type {
				margin-bottom:0;
			}
			@include source_bold;
			&:before {
				content:"";
				display: block;
				width:6px;
				height:6px;
				border-radius: 50%;
				background: $red;
				position: absolute;
				top:16px;
				left:0;
			}
		}
	}
	blockquote {
		font-size: 40px;
		line-height: 48px;
		text-align: center;
		max-width:960px;
		padding-top:45px;
		margin: 0px auto 85px;
		@include source_bold;
		&:before {
			content:"";
			display: block;
			background: url(#{$themePath}images/stars-orange.svg) top left no-repeat;
			width: 158px;
			height: 25px;
			margin:0 auto 28px;
		}
		> p {
				margin-bottom:0;
		}
	}
}




.content {
	iframe {
		display: inline-block;
		margin-right:10px;
	}
}

.embed-container {
	
}



@media screen and (max-width: 1350px) {
	
	
	.internal_header {
		font-size:60px;
		line-height: 60px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1260px) {
	
	
	.content {
		blockquote {
			max-width: 870px;
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	
	.content {
		h2 {
			
		}
	}
	
	
	.internal_centered_header {
		padding:67px 70px 0;
		font-size: 65px;
		line-height: 60px;
		&:after {
			margin: 25px auto 15px;
		}
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 940px) {
	
	
	.content {
		blockquote {
			max-width: 580px;
			line-height: 48px;
			padding-top: 15px;
			margin: 0px auto 45px;
		}
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter {
	margin:4px auto 0px;
	float:none;
	max-width:100%;
	height:auto;
}


.internal_header {
	font-size: 40px;
	line-height: 40px;
}


.internal_centered_header {
		padding:41px 40px 0;
		font-size: 60px;
		line-height: 55px;
		&:after {
			margin: 20px auto 15px;
		}
	}

.content {
		h2 {
			font-size: 25px;
			line-height: 30px;
		}
		blockquote {
			font-size: 32px;
			line-height: 40px;
			&:before {
				margin: 0 auto 21px;
			}
		}
	}
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 390px) {
	
	
	.internal_centered_header {
		font-size: 50px;
		line-height: 45px;
	}
	
} /* Media Query */