header {
	width:100%;
	position: absolute;
	top:0;
	left:0;
	z-index:1;
	display: flex;
	justify-content: space-between;
}


.header_left {
	flex-basis:528px;
	a.logo {
		display: block;
		margin:70px 0 0 55px;
		img {
			width:473px;
			height:92px;
		}
	}
}



.header_right {
	//flex-grow:1;
	//display: flex;
	//justify-content: flex-end;
	//flex-direction: column;
	margin:53px 0 0;
	width:100%;
	max-width:1090px;
	.phone_wrapper {
		text-align: right;
		flex-grow:1;
		padding-right:51px;
		span, a {
			display: inline-block;
			color:#fff;
			text-transform: uppercase;
			font-size:32px;
			text-decoration: none;
			@include source_bold;
		}
		span {
			&:first-of-type {
				&:after {
					content:"";
					width:6px;
					height:6px;
					background: $yellow;
					border-radius: 50%;
					display: inline-block;
					vertical-align: top;
					margin:15px 21px 0;
				}
			}
			&:last-of-type {
				
			}
		}
		a.phone {
			color:$yellow;
			margin-left:14px;
		}
	}
}


nav {
	margin-top:50px;
	position: relative;
	border-bottom:1px solid #fff;
	.menu-header {
		width:100%;
	}
	ul {
		list-style: none;
		li {
			a {
				cursor: pointer;
				color:#fff;
				transition: all 200ms ease-in-out;
			}
		}
	}
	ul.menu {
		display: flex;
		justify-content: space-around;
		padding-right:51px;
		#magic-line {
      position: absolute;
      bottom: -3px;
      left: 0;
      padding: 0;
      width: 100px;
      height: 5px;
      background: #ffd400;
    }
    > li.menu-item-has-children {
	    	&:hover {
		    	ul.sub-menu {
						opacity: 1;
						visibility: visible;
						transform: translateY(0px);
	    		}
	    	}
	    
	    > a {
		    	&:after {
						content:"";
						display: block;
						margin:11px auto 0;
						width: 0; 
						height: 0; 
						border-left: 4px solid transparent;
						border-right: 4px solid transparent;
						border-top: 6px solid #fff;
					}
	    }
    }
		> li {
				text-transform: uppercase;
				font-size:17px;
				letter-spacing: 0.1em;
				position: relative;
				padding-bottom:16px;
				@include source_bold;
				> a {
					color:#fff;
					text-decoration: none;
					position: relative;
					
				}
		}
	}
	ul.sub-menu {
		position:absolute;
		top:47px;
		left:0;
		z-index:1;
		background: $blue;
		width:300px;
		padding:30px 30px 0;;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-5px);
		transition: all 250ms ease-in-out;
		li {
			text-transform: none;
			font-size:18px;
			letter-spacing: 0.02em;
			margin-bottom:26px;
			@include source_reg;
			a {
				text-decoration: none;
			}
		}
	}
}


nav.desktop {
	ul {
		li {
			a {
				&:hover {
					color:$yellow;
				}
			}
		}
	}
}



