header {
	width:100%;
	position: absolute;
	top:0;
	left:0;
	z-index:2;
	display: flex;
	justify-content: space-between;
}


.header_left {
	flex-basis:528px;
	a.logo {
		display: block;
		margin:70px 0 0 55px;
		img {
			width:473px;
			height:92px;
		}
	}
}



.header_right {
	margin:53px 0 0;
	width:100%;
	max-width:1090px;
	.phone_wrapper {
		text-align: right;
		flex-grow:1;
		padding-right:51px;
		span, a {
			display: inline-block;
			color:#fff;
			text-transform: uppercase;
			font-size:32px;
			text-decoration: none;
			@include source_bold;
		}
		span {
			&:first-of-type {
				&:after {
					content:"";
					width:6px;
					height:6px;
					background: $yellow;
					border-radius: 50%;
					display: inline-block;
					vertical-align: top;
					margin:15px 21px 0;
				}
			}
			&:last-of-type {
				
			}
		}
		a.phone {
			color:$yellow;
			margin-left:14px;
		}
	}
}


nav {
	margin-top:50px;
	position: relative;
	border-bottom:1px solid #fff;
	.menu-header {
		width:100%;
	}
	ul {
		list-style: none;
		li {
			a {
				cursor: pointer;
				color:#fff;
				transition: all 200ms ease-in-out;
			}
		}
	}
	ul.menu {
		display: flex;
		justify-content: space-between;
		padding-right:51px;
		padding-left:15px;
		#magic-line {
      position: absolute;
      bottom: -3px;
      left: 0;
      padding: 0;
      width: 100px;
      height: 5px;
      background: #ffd400;
    }
    > li.menu-item-has-children {
	    	&:hover {
		    	> a {
			    	color:$yellow;
		    	}
		    	ul.sub-menu {
						opacity: 1;
						visibility: visible;
						transform: translateY(0px);
	    		}
	    	}
	    
	    > a {
		    	&:after {
						content:"";
						display: block;
						margin:11px auto 0;
						width: 0; 
						height: 0; 
						border-left: 4px solid transparent;
						border-right: 4px solid transparent;
						border-top: 6px solid #fff;
					}
	    }
    }
		> li {
				text-transform: uppercase;
				font-size:17px;
				letter-spacing: 0.1em;
				position: relative;
				padding-bottom:16px;
				@include source_bold;
				> a {
					color:#fff;
					text-decoration: none;
					position: relative;
					&:hover {
						color:$yellow;
					}
				}
		}
	}
	ul.sub-menu {
		position:absolute;
		top:47px;
		left:0;
		z-index:1;
		background: $blue;
		width:300px;
		padding:30px 30px 0;;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-5px);
		transition: all 250ms ease-in-out;
		li {
			text-transform: none;
			font-size:18px;
			letter-spacing: 0.02em;
			margin-bottom:26px;
			@include source_reg;
			a {
				text-decoration: none;
			}
		}
	}
}


nav.desktop {
	ul {
		li {
			a {
				&:hover {
					color:$yellow;
				}
			}
		}
	}
}


.menu_wrapper {
	display: none;
}


@media screen and (max-width: 1665px) {
	
	.header_left {
		flex-basis:480px;
		a.logo {
			img {
				width:430px;
				height:92px;
			}
		}
	}
	
	
	.header_right {
		padding-left:84px;
	}
	
	
	
} /* Media Query */




@media screen and (max-width: 1450px) {
	
	
	.header_left {
		a.logo {
			margin: 66px 0 0 55px;
		}
	}
	
	
	.header_right {
		.phone_wrapper {
			padding-right:50px;
			span, a {
				font-size: 28px;
			}
			span {
				&:first-of-type {
					&:after {
						margin: 15px 18px 0;
					}
				}
			}
		}
	}
	
	
	nav {
		margin-top: 33px;
		ul.menu {
			> li {
					font-size: 15px;
					padding-bottom: 19px;
					> a {
					
				}
			}
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1420px) {
	
	
	.header_left {
		a.logo {
			img {
				width: 398px;
			}
		}
	}
	
	
	
	.header_right {
    padding-left: 45px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1310px) {
	
	
	nav {
		display: none;
	}
	
	
	.header_left {
		display: none;
	}
	
	header {
		height:90px;
		position: fixed;
		width:100%;
		top:0;
		left:0;
	}
	
	.header_right {
		margin:0;
		max-width:100%;
		background:$blue;
		padding-left:0;
		display: flex;
		align-items: center;
		.phone_wrapper {
			padding:0;
			text-align: center;
			span, a {
				font-size: 25px;
			}
			span {
				&:first-of-type {
					&:after {
						width:4px;
						height:4px;
						margin: 12px 10px 0 11px;
					}
				}
			}
			a.phone {
				margin-left: 10px;
			}
		}
	}
	
	.menu_wrapper {
		display: block;
		background: $yellow;
		width:89px;
		flex-shrink:0;
		cursor: pointer;
		padding:25px 22px 0;
		span {
			display: block;
		}
		span.menu_bar {
			width:100%;
			height:4px;
			background: #fff;
			width:49px;
			margin-bottom:4px;
		}
		span.menu_title {
			color:#fff;
			text-transform:uppercase;
			text-shadow: none;
			letter-spacing: 0.16em;
			padding-top:2px;
			@include source_bold;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	header {
		height:75px;
	}
	
	.header_right {
		display: block;
		padding-left:20px;
		padding-top: 13px;
		.phone_wrapper {
			text-align: left;
			span, a {
				
			}
			span {
				font-size: 16px;
				display: inline-block;
				&:first-of-type {
					&:after {
						width:3px;
						height:3px;
						margin: 8px 6px 0 8px;
					}
				}
			}
			a.phone {
				font-size: 32px;
				display: block;
				margin-left:0;
			}
		}
	}
	
	
	.menu_wrapper {
		width:75px;
		padding: 19px 13px 0;
	}

	
	
} /* Media Query */


