

.cr_grid {
	max-width:1920px;
	margin:110px auto 185px;
	padding-left:90px;
	padding-right:90px;
	&:after {
		content:"";
		display: block;
		clear:both;
	}
/*
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
*/
/*
	&:after {
		content:"";
		flex-basis:32.5%;
	}
*/
}


.single_cr {
	//flex-basis:32.5%;
	width:32%;
	float:left; /* floating bc I need parent div rows on tablet to style alternates */
	background: $greylight;
	position: relative;
	height:404px;
	overflow: hidden;
	margin:0 0.66% 24px;
	.inner_cr_content {
		text-align: center;
		padding:90px 20px 0;
		span {
			display: block;
			color:$blue;
		}
		span.single_cr_amount {
			font-size: 55px;
			letter-spacing: 0.04em;
			margin-bottom:31px;
			@include escrow_banner_bold;
		}
		span.single_cr_type {
			text-transform: uppercase;
			font-size:22px;
			letter-spacing: 0.1em;
			padding-bottom:25px;
			display: inline-block;
			border-bottom:2px solid $red;
			@include source_black;
		}
		span.single_cr_description {
			font-size:17px;
			line-height: 24px;
			max-width: 370px;
			margin:26px auto 0;
			@include source_semibold;
		}
		span.single_cr_description.full {
			display: none;
		}
		span.single_cr_read_more {
			color:$red;
			text-transform: uppercase;
			font-size: 17px;
			letter-spacing: 0.1em;
			margin-top:19px;
			transition: all 200ms ease-in-out;
			@include source_black;
			&:hover {
				color:$orange;
			}
		}
	}
	img {
		width:100%;
		height:100%;
		position: absolute;
		top:0;
		left:0;
		object-fit:cover;
	}
}



.cr_overlay {
	position: fixed;
	z-index: 5;
	overflow-y: scroll;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity: 0;
	visibility: hidden;
	transition: all 300ms ease-in-out;
	background:rgba(0,0,0,0.7);
}

.cr_overlay.open {
	opacity: 1;
	visibility: visible;
}


.cr_overlay_inner {
	width:100%;
	background: $blue;
	max-width:1070px;
	margin:180px auto 150px;
	position: relative;
	color:#fff;
	text-align: center;
	padding:144px 35px 175px;
	span {
		display: block;
	}
	span.cr_overlay_amount {
		font-size: 55px;
		@include escrow_banner_bold;
	}
	span.cr_overlay_type {
		text-transform: uppercase;
		font-size: 22px;
		letter-spacing: 0.1em;
		margin-top:14px;
		display: inline-block;
		padding-bottom:35px;
		border-bottom:2px solid $red;
		@include source_black;
	}
	span.cr_overlay_description {
		font-size: 18px;
		line-height: 30px;
		margin:26px auto 0;
		max-width:650px;
		@include source_semibold;
	}
}


.cr_close {
	position: absolute;
	top:33px;
	right:25px;
	width:50px;
	height:50px;
	cursor: pointer;
	&:before, &:after {
		content:"";
		display: block;
		width:50px;
		height:4px;
		background: $yellow;
		position: absolute;
		top:23px;
		left:0;
		transition: all 200ms ease-in-out;
	}
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}
	&:hover {
		&:before, &:after {
			background:$red;
		}
	}
}


@media screen and (max-width: 1460px) {
	
	
	.single_cr {
		.inner_cr_content {
			span.single_cr_amount {
				font-size: 47px;
			}
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1390px) {
	
	
	
	.cr_grid {
		
	}
	
	.single_cr_pair {
		display: flex;
		justify-content: space-between;
		&:nth-of-type(2n + 2) {
			.single_cr.info {
				order:2;
			}
			.single_cr.image {
				order:1;
			}
		}
	}
	
	

	.single_cr {
		width:auto;
		flex-basis:49%;
		float:none;
		margin: 0 0% 24px;
	}

	
	
	
} /* Media Query */


@media screen and (max-width: 1120px) {
	
	
	.cr_grid {
   //margin-top:0;
	}
	
	.single_cr.info {
		
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	.cr_grid {
		margin: 110px auto;
		padding-left:70px;
		padding-right:70px;
	}
	
	
	.single_cr {
		flex-basis:48.5%;
		.inner_cr_content {
			span.single_cr_amount {
				//font-size: 42px;
			}
		}
	}  
 
	
	
} /* Media Query */


@media screen and (max-width: 910px) {
	
	.cr_grid {
		max-width: 640px;
	}
	
	.single_cr_pair {
		display: block;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	.cr_grid {
		margin: 75px auto;
		padding-left:40px;
		padding-right:40px;
	}
	
	
	
} /* Media Query */

@media screen and (max-width: 450px) {
	
	
	.single_cr {
		.inner_cr_content {
			padding:50px 30px;
			span.single_cr_amount {
				font-size: 40px;
			}
		}
	}
	
	.single_cr.info {
	height:auto;
	}
	
} /* Media Query */