
.blog_feed {
	margin-top:-43px;
}



.blog_meta {
	span, ul, li {
		display: inline-block;
		font-size: 22px;
		line-height: 20px;
		margin:0;
		color:$orange;
		@include source_bold;
	}
	ul {
		li {
			padding:0;
			text-transform: uppercase;
			&:before {
				margin:0 25px;
				position: static;
				display: inline-block;
				vertical-align: top;
				margin:9px 16px 0;
			}
			a {
				color:$orange;
				text-decoration: none;
			}
		}
	}
}




.blog_post {
	padding-bottom:60px;
	padding-top:52px;
	border-bottom:2px solid $greylight;
	h2 {
		padding-top:3px;
		font-size: 40px;
		line-height: 40px;
		text-transform: none;
		margin-bottom: 16px;
		@include escrow_txt_bold;
		a {
			color:$blue;
			text-decoration: none;
		}
	}
	a.read_more_blog {
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: 0.1em;
		text-decoration: none;
		color:$blue;
		border:1px solid $red;
		border-radius: 3px;
		display: inline-block;
		padding:10px 42px;
		margin-top:38px;
		background: transparent;
		transition: all 200ms ease-in-out;
		@include source_bold;
		&:hover {
			background: $red;
			color:#fff;
		}
	}
}




.paged_wrapper {
	padding-top:48px;
	ul {
		display: inline-block;
		li {
			padding:0;
			display: inline-block;
			text-transform: uppercase;
			font-size: 22px;
			margin:0 18px 0 0;
			&:before {
				display: none;
			}
			a {
				color:$blue;
				text-decoration: none;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$orange;
				}
			}
		}
	}
}