

.testimonials_wrapper {
	width:100%;
	background: $greylight;
	margin-top: 215px;
	padding: 1px 100px 133px;
}



.testimonials_inner {
	 margin: -110px auto 0;
}


.testi_vid {
	max-width: 800px;
	height:376px;
	margin:0 auto;	
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		.testi_play_wrapper {
			.play_outer {
				&:after {
					border-left: 14px solid $yellow;
				}
				.play_inner {
					transform: scale(1.2);
					background: #fff;
				}
			}
		}
	}
	img.video_thumb {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		object-fit:cover;
	}
	.test_vid_overlay {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: rgba(0,0,0,0.2);
	}
}



.testi_play_wrapper {
	height:225px;
	width:225px;
	position: relative;
	pointer-events: none;
	z-index:1;
	.play_outer {
		height:165px;
		width:165px;
		border:2px solid $yellow;
		border-radius:50%;
		margin:35px 0 0 35px;
		&:after {
			content:"";
			display: block;
			position: absolute;
			top: 70px;
			left: 113px;
			width: 0; 
			height: 0; 
			border-top: 11px solid transparent;
			border-bottom: 12px solid transparent;
			border-left: 14px solid #fff;
			transition: all 200ms ease-in-out;
		}
		.play_inner {
			height:111px;
			width:111px;
			background: $yellow;
			border-radius:50%;
			margin:25px 0 0 25px;
			position: relative;
			transition: transform 700ms cubic-bezier(.17,.66,.34,.98), background 300ms linear;

		}
	}
}


span.testi_quote {
	font-size: 51px;
	line-height: 59px;
	display: block;
	max-width:940px;
	text-align: center;
	margin:58px auto 0;
	@include escrow_txt_bold;
}



.top_testi_wrapper {
	display: flex;
	justify-content: space-between;
	margin:135px auto 0;
	max-width:1610px;
}


.single_top_testi {
	background: #fff;
	flex-basis:31.7%;
// 	height:824px;
	padding:60px 50px 77px;
	box-shadow: 0px 2px 40px 0px rgba(5, 21, 63, 0.2);
	text-align: center;
	span {
		display: block;
	}
	span.single_top_quote {
		font-size: 35px;
		line-height: 40px;
		margin:60px auto 0;
		max-width:340px;
		@include escrow_txt_bold;
	}
	span.single_top_description {
		font-size: 22px;
		line-height: 38px;
		margin-top:30px;
		max-width: 385px;
		margin-left:auto;
		margin-right:auto;
		@include source_semibold;
	}
	span.single_top_name {
		color:$orange;
		font-size: 18px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin-top:35px;
		@include source_black;
	}
}

.single_top_profile {
	width:167px;
	margin:0 auto;
	img {
		max-width: 100%;
		height:auto;
		margin:0 auto;
		display: block;
	}
	img.testi_profile {
		width:137px;
		height:137px;
		border-radius: 50%;
		margin-top:-68px;
	}
	img.testi_stars {
		margin-top:-17px;
	}
	
}


.bottom_testi_wrapper {
	background: #fff;
	padding: 85px 100px 133px;
	text-align: center;
}

.bottom_testi_inner {
	max-width: 1610px;
	margin:0 auto;
}

.bottom_test_title {
	margin:0 auto;
	img {
		display: block;
		margin:0 auto;
	}
	img.star {
		margin-top:-42px;
	}
	span {
		display: block;
		text-align: center;
		font-size:60px;
		margin-top:30px;
		@include escrow_banner_bold;
	}
}


.bottom_test_grid {
	display: flex;
	justify-content: space-between;
	margin:95px 0 19px;
	.bottom_test_col {
		flex-basis: 32%;
	}
}

.single_bottom_testi {
	background: $greylight;
	text-align: center;
	padding:58px 67px 65px;
	margin-bottom:40px;
	display: none;
	img {
		display: block;
		margin:0 auto;
	}
	span.single_bottom_description {
		font-size: 30px;
		line-height: 38px;
		border-top:2px solid $grey;
		display: block;
		margin-top:37px;
		padding-top:32px;
		@include escrow_txt_bold;
	}
	span.single_bottom_name {
		color:$red;
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: 0.1em;
		margin-top:38px;
		display: block;
		@include source_black;
	}
}



a.testimonials_button {
	background: $red;
	cursor: pointer;
	color:#fff;
	text-transform: uppercase;
	font-size: 21px;
	letter-spacing: 0.1em;
	display: inline-block;
	margin:0 auto 14px;
	padding:24px 30px;
	border-radius: 3px;
	transition: all 200ms ease-in-out;
	@include source_black;
	&:hover {
		background: $orange;
	}
}


@media screen and (max-width: 1450px) {
	
	.top_testi_wrapper {
		max-width:700px;
		display: block;
		margin: 82px auto 0;
	}

	.single_top_testi {
		margin-bottom:40px;
		&:last-of-type {
			margin-bottom: 0;
		}
		span.single_topquote {
			max-width: 450px;
		}
		span.single_top_description {
			max-width: 565px;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1280px) {
	
	
	
		.bottom_test_grid {
			display: block;
			max-width:700px;
			margin-left:auto;
			margin-right:auto;
		}
		
		
		.bottom_test_col_one {
			.single_bottom_testi {
				display: block;
			}
		}
		
		

	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	
	.testimonials_wrapper {
		margin-top:190px;
		padding: 1px 70px 115px;
	}
	
	
	.bottom_testi_wrapper {
		padding: 85px 70px 133px;
	}

	.bottom_test_title {
		span {
			max-width: 645px;
			margin-left:auto;
			margin-right:auto;
		}
	}
	

	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
	.testimonials_wrapper {
		margin-top:160px;
		padding: 1px 40px 63px;
	}
	
	
	.testi_vid {
		height: 255px;
	}
	
	
.testi_play_wrapper {
	width:125px;
	height:125px;
	
	.play_outer {
		width:125px;
		height:125px;
		margin:0;
		&:after {
			top: 52px;
			left: 59px;
		}
		.play_inner {
			width:90px;
			height:90px;
			margin: 16px 0 0 16px;
		}
	}
}



span.testi_quote {
	margin: 35px auto 0;
	font-size: 42px;
	line-height: 50px;
	
}


.top_testi_wrapper {
	margin: 60px auto 0;
}


.single_top_testi {
	span.single_top_quote {
		margin: 40px auto 0;
	}
}


.bottom_testi_wrapper {
	padding: 66px 40px 65px;
}


.bottom_test_grid {
	margin: 65px 0 19px;
}


a.testimonials_button {
	font-size: 18px;
  padding: 21px 30px;
}



.single_bottom_testi {
	padding-left:47px;
	padding-right:47px;
}
    
    
	    
	
} /* Media Query */

@media screen and (max-width: 398px) {
	
	
	
	a.testimonials_button {
		width:100%;
		padding-left:20px;
		padding-right:20px;
	}
	
	
	
} /* Media Query */

@media screen and (max-width: 390px) {
	
	
	.bottom_test_title {
		span {
			font-size: 50px;
			line-height: 45px;
		}
	}
	
} /* Media Query */


