

.gb_top_wrapper {
	display: flex;
	margin:110px 0 0;
}

.gb_top_image {
	flex-grow: 1;
	img {
		max-width:100%;
		height:auto;
		display: block;
	}
}


.gb_top_content {
	border-top:2px solid $greylight;
	padding:55px 0 0 0px;
	margin:76px 155px 0 74px;
	flex-basis:803px;
	flex-shrink:0;
}


a.poppy_button {
	background: $red;
	color:#fff;
	text-decoration: none;
	border-radius: 3px;
	margin-top:17px;
	font-size: 18px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	display: inline-block;
	padding:12px 40px;
	transition: all 200ms ease-in-out;
	@include source_bold;
	&:hover {
		text-decoration: none;
		background: $orange;
	}
}


.sponsorship_wrapper {
	padding-left:100px;
	padding-right:100px;
}

.sponsorship_inner {
	margin:130px auto 0;
	max-width:1615px;
}


span.sponsorship_header {
	font-size: 60px;
	line-height: 60px;
	display: block;
	text-align: center;
	@include escrow_banner_bold;
}


.sponsorship_list {
	display: flex;
	margin:95px 0 0;
	padding-bottom:75px;
	border-bottom:2px solid $greylight;
}


.single_sponsorship {
	text-align: center;
	padding:0 50px;
	flex-basis:25%;
	border-right:2px solid $greylight;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height:113px;
	&:last-of-type {
		border-right:0;
	}
	.single_sponsorship_inner {
		span {
			display: block;
		}
		span.single_sponsorship_title {
			font-size:34px;
			line-height: 38px;
			@include source_bold;
		}
		span.single_sponsorship_subtitle {
			text-transform: uppercase;
			font-size: 20px;
			margin-top:7px;
			color:$orange;
			font-size: 20px;
			@include source_bold;
		}
	}
}


.sponsorship_businesses {
	padding-top:85px;
	ul {
		list-style: none;
		column-count:4;
		column-gap:96px;
		max-width:1535px;
		margin:0 auto;
		li {
			color:$blue;
			//width:100%;
			//display: inline-block;
			font-size: 22px;
			line-height: 30px;
			margin-bottom:15px;
			@include source_semibold;
			a {
				color:$blue;
				text-decoration: none;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$orange;
				}
			}
		}
	}
}

.gb_bottom_wrapper {
	width:100%;
	//background: $greylight;
	margin-top:575px;
	padding:1px 0 90px 0;
}

.gb_bottom_inner {
	margin-top:-440px;
	padding-left:110px;
	padding-right:110px;
}


.gb_community_header {
	img {
		max-width:100%;
		height:auto;
		margin:0 auto;
		display: block;
	}
	img.heart {
		margin-top:-33px;
	}
	span {
		display: block;
		text-align: center;
		font-size: 60px;
		margin-top:24px;
		@include escrow_banner_bold;
	}
}


.gb_slider_wrapper {
	display: flex;
	align-items: center;
	margin-top:63px;
}

.gb_arrow {
	background: $red;
	width:74px;
	height:74px;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 200ms ease-in-out;
	cursor: pointer;
	flex-shrink: 0;
	&:after {
		content:"";
		display: block;
		width: 0; 
		height: 0; 
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent; 
	}
	&:hover {
		background: $orange;
	}
}

.gb_arrow_left {
	&:after {
		margin-left:-3px;
		border-right:15px solid #fff; 
	}
}


.gb_arrow_right {
	&:after {
		margin-right:-3px;
		border-left:15px solid #fff; 
	}
}


.gb_slider {
	width:calc(100% - 148px);
	padding:0 60px;
	margin-left:auto;
  margin-right:auto;
	.slick-slide {
	   margin: 0 19px;
	   padding:20px 0;
	 }
	.slick-list {
	  margin: 0 -19px;
	}
}


.gb_slide {
	position: relative;
	&:hover {
		.gb_slide_overlay {
			opacity: 1;
		}
	}
	img {
		width:100%;
		height:auto;
		display: block;
		box-shadow: 0px 2px 17px 0px rgba(5, 21, 63, 0.2);
	}
	.gb_slide_overlay {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:rgba(5,21,63,0.8);
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: all 400ms ease-in-out;
		span {
			color:$yellow;
			font-size: 25px;
			line-height: 31px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			max-width:310px;
			text-align: center;
			@include source_black;
		}
	}
}


.gb_form_wrapper {
	
	span.gb_form_title {
		display: block;
		text-align: center;
		font-size:60px;
		margin-top:53px; 
		@include escrow_banner_bold;
	}
}



.gb_form {
	max-width:1140px;
	position: relative;
	margin:53px auto 0;
	ul {
		list-style: none;
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
		li#field_5_6 {
			flex-basis:100%;
		}
		li {
			position: relative;
			margin-bottom:16px;
			flex-basis:23.8%;
			label {
				font-size: 18px;
				position: absolute;
				top:19px;
				left:20px;
				letter-spacing: 0.1em;
				@include source_bold;
				span.gfield_required {
					color:$orange;
					display: inline-block;
					margin-left:5px;
				}
			}
			input,textarea {
				border:none;
				width:100%;
				font-size: 18px;
				letter-spacing: 0.1em;
				color:$blue;
				padding:16px 20px;
				@include source_bold;
			}
			textarea {
				height:131px;
			}
		}
	}
	input[type="submit"] {
		background: $red;
		margin-top:33px;
		border-radius: 3px;
		color:#fff;
		text-transform: uppercase;
		border:none;
		padding:23px 65px;
		font-size: 23px;
		letter-spacing: 0.1em;
		margin-bottom:35px;
		cursor: pointer;
		transition: all 200ms ease-in-out;
		@include source_bold;
		&:hover {
			background: $orange;
		}
	}
	.gfield_description, .validation_message {
		color:$orange;
		text-transform: uppercase;
		font-size:13px;
		letter-spacing: 0.1em;
		margin:8px 0 0 20px;
		@include source_bold;
	}
	.gform_footer {
		display: flex;
		justify-content: center;
	}
}


span.poppy_required {
	position: absolute;
	bottom:123px;
	left:0;
	color:$orange;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 0.1em;
	@include source_bold;
}


@media screen and (max-width: 1760px) {
	
	
	
/*
	.sponsorship_list {
		flex-wrap: wrap;
		max-width:850px;
		margin-left:auto;
		margin-right:auto;
		border-bottom:none;
	}
	
	.single_sponsorship {
		flex-basis:50%;
		padding:25px;
		height:155px;
		&:nth-of-type(1), &:nth-of-type(2) {
			border-bottom:2px solid $greylight;
		}
		&:nth-of-type(2) {
			border-right:none;
		}
		.single_sponsorship_inner {
			span.single_sponsorship_title {
				max-width: 300px;
			}
		}
	}
*/



	
	
/*
	.sponsorship_businesses {
		margin-top:45px;
		border-top:2px solid $greylight;
	}
*/



.single_sponsorship {
	.single_sponsorship_inner {
		span.single_sponsorship_title {
			font-size: 29px;
			line-height: 34px;
		}
	}
}
	


	
	
} /* Media Query */


@media screen and (max-width: 1700px) {
	
	
	.gb_top_image {
    margin-top: 0px;
   }
   
   
	
	
} /* Media Query */



@media screen and (max-width: 1640px) {
	
	
	.gb_top_image {
		
	}
	
	.gb_top_content {
		flex-basis:40%;
		
	}
	
	
} /* Media Query */


@media screen and (max-width: 1585px) {
	
	
.single_sponsorship {
	.single_sponsorship_inner {
		span.single_sponsorship_title {
			font-size: 25px;
			line-height: 30px;
		}
	}
}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	.gb_top_content {
		flex-basis:46%;
		margin-right:100px;
	}
	
	
	
	.single_sponsorship {
	.single_sponsorship_inner {
		span.single_sponsorship_title {
			font-size: 22px;
			line-height: 25px;
			max-width: 189px;
		}
		span.single_sponsorship_subtitle {
			font-size: 18px;
		}
	}
}
	



	

	
} /* Media Query */



@media screen and (max-width: 1410px) {
	
	
	
	.gb_form_wrapper {
		span.gb_form_title {
			display: block;
			max-width:660px;
			margin-left:auto;
			margin-right:auto;
		}
	}
	
	
	.gb_bottom_inner {
		//padding-left:100px;
		//padding-right:100px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1350px) {
	
	
	
	
	.sponsorship_businesses {
		max-width: 850px;
		margin-left:auto;
		margin-right:auto;
		ul {
			column-count:2;
		}
	}
	
	
	
	
	
		
	
	.sponsorship_list {
		flex-wrap: wrap;
		max-width:850px;
		margin-left:auto;
		margin-right:auto;
		border-bottom:none;
	}
	
	.single_sponsorship {
		flex-basis:50%;
		padding:25px;
		height:155px;
		&:nth-of-type(1), &:nth-of-type(2) {
			border-bottom:2px solid $greylight;
		}
		&:nth-of-type(2) {
			border-right:none;
		}
		.single_sponsorship_inner {
			span.single_sponsorship_title {
				max-width: 300px;
			}
		}
	}

	
} /* Media Query */


@media screen and (max-width: 1310px) {
	
	.gb_slider_wrapper {
		max-width: 900px;
		margin-left:auto;
		margin-right:auto;
	}
	
	    
	
	
	
} /* Media Query */


@media screen and (max-width: 1280px) {
	
	
	
	.gb_top_wrapper {
		flex-direction: column;
		margin:0 auto;
		text-align: center;
		max-width:960px;
		padding-left:70px;
		padding-right:70px;
	}
	
	
	.gb_top_image {
		order:2;
		img {
			margin:75px auto 0;
		}
	}
	
	.gb_top_content {
		order:1;
		margin-right:0;
		margin-left:0;
		flex-basis:100%;
	}
	
} /* Media Query */




@media screen and (max-width: 1066px) {
	
	
	.gb_top_wrapper {
		img {
			margin: 40px auto 0;
		}
	}
	
	
	.gb_top_content {
		margin-top:45px;
		padding: 40px 0 0 0px;
	}
	
	.sponsorship_inner {
    margin: 90px auto 0;
  }
  
  
  .sponsorship_wrapper {
	  padding-left:70px;
	  padding-right:70px;
  }
  
  .sponsorship_businesses {
		padding-top:0;
	}
	
	.gb_bottom_wrapper {
		margin-top: 530px;
	}
	
	.gb_bottom_inner {
		padding-left:35px;
		padding-right:35px;
	}
	
	.gb_slider {
		padding: 0 50px;
	}
	
	
	.gb_form_wrapper {
		padding-left:35px;
		padding-right:35px;
	}
	
	
	
	.gb_form {
		max-width: 630px;
		ul {
			display: block;
		}
		input[type="submit"] {
			margin-top:53px;
		}
	}
	
	
	span.poppy_required {
		bottom: 149px;
	}
	    
	
} /* Media Query */




@media screen and (max-width: 767px) {
	
	
	
	.gb_top_wrapper {
		padding-left:40px;
		padding-right:40px;
		img {
			
		}
	}
	
	
	
	.sponsorship_list {
		display: block;
		margin: 40px auto 0;
		max-width:300px;
		padding-bottom: 35px;
	}
	
	
	.single_sponsorship {
		border-right:none;
		border-bottom: 2px solid #e8ecef;
		&:last-of-type {
			border-bottom: none;
		}
	}
	
	
	.sponsorship_businesses {
		ul {
			column-count:1;
			text-align: center;
		}
	}
	
	
	.sponsorship_wrapper {
		padding-left: 40px;
    padding-right: 40px;
	}
	
	
	.sponsorship_inner {
    margin: 64px auto 0;
	}
	
	
	span.sponsorship_header {
		font-size: 50px;
    line-height: 51px;
	}
	
	 
	.gb_community_header {
		//display: none;
	}
	
	
	.gb_slider_wrapper {
		display: none;
	}
	
	
	.gb_bottom_inner {
		margin-top: 0px;
	}
	
	.gb_bottom_wrapper {
    margin-top: 75px;
    padding: 0px 0 50px 0;
	}
	
	
	.gb_form_wrapper {
		padding-top:1px;
		padding-left:5px;
		padding-right:5px;
		span.gb_form_title {
			font-size: 50px;
			max-width: 330px;
		}
	}
	
	
	
	.gb_form {
		input[type="submit"] {
			font-size: 20px;
			padding: 16px 63px;
		}
	}
	
	
	span.poppy_required {
		bottom: 135px;
		font-size: 16px;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 450px) {
	
	
	a.poppy_button {
		padding-left:0;
		padding-right:0;
		width:100%;
		line-height: 20px;
	}
	
	
	
} /* Media Query */
