

body.page-template-template-biostuart {
	.internal_main {
		background: #e8ecef;
	}
	.content {
		blockquote {
			padding-top: 13px;
			margin-bottom:60px;
		}
	}
}


.att_bio_awards {
	margin-top:85px;
	margin-bottom:65px;
}

.att_bio_awards_inner {
	max-width:1580px;
	margin:0 auto;
}


.att_bio_awards_slider {
	.slick-dots {
		bottom: -40px;
		li.slick-active {
			button {
				&:before {
					color:$red;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color:$blue;
				}
			}
		}
		li {
			margin:0 3px;
			width:19px;
			button {
				width:19px;
				&:before {
					width:19px;
					opacity: 1;
					color: $blue;
					font-size:24px;
				}
			}
		}
	}
}


.att_bio_awards_slide {
	.att_bio_awards_slide_inner {
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width:145px;
			display: block;
		}
	}
}


.att_history_wrapper {
	
}

.att_history_inner {
	max-width:1700px;
	margin:0 auto;
	display: flex;
	align-items: center;
}

.att_history_slider {
	width: calc(100% - 148px);
  padding: 0 60px;
  margin-left:auto;
  margin-right:auto;
  .slick-list {
    margin: 0 -19px;
}
  .slick-slide {
    margin: 0 19px;
    padding: 20px 0;
	}
}

.att_history_slide {
	img {
		width: 100%;
    height: auto;
    display: block;
    box-shadow: 0px 2px 17px 0px rgba(5,21,63,0.2);
	}
}

.att_history_button {
	background: #bc0712;
  width: 74px;
  height: 74px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  flex-shrink: 0;
  &:after {
	 	content: "";
	 	display: block;
		width: 0;
		height: 0;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
  }
  &:hover {
	  background: $orange;
  }
}

.att_history_button_left {
	&:after {
		margin-left: -3px;
    border-right: 15px solid #fff;
	}
}

.att_history_button_right {
	&:after {
		margin-right: -3px;
    border-left: 15px solid #fff;
	}
}


body.page-template-template-biostuart {
	.internal_wrapper {
		padding-bottom:0;
	}
}



.timeline_wrapper.tablet {
	display: none;
}


.timeline_wrapper {
	width:100%;
	background: #fff;
	padding:1px 70px 0;
	margin:-120px 0 0;
}


.timeline_inner {
	margin:240px 0 0;
}


.my_heritage_wrapper {
	img, span {
		display: block;
		margin:0 auto;
		text-align: center;
	}
	img.redline {
		width:168px;
	}
	img.tree {
		margin-top:-50px;
	}
	span.my_heritage_title {
		font-size: 60px;
		margin-top:15px;
		@include escrow_banner_bold;
	}
}

.history_wrapper {
	max-width: 1380px;
	margin:80px auto 0;
	padding-bottom:215px;
	display: flex;
}

.history_col {
	flex-basis:715px;
}

.line_col {
	flex-basis:3px;
	margin:226px 0 0;
	position: relative;
	flex-shrink:0;
	&:after {
		content:"";
		width:100%;
		display: block;
		height: calc(100% - 427px);
		background: url(#{$themePath}images/dash.svg) repeat-y;
	}
}




.single_event {
	text-align: center;
	height: 575px;
	max-width:650px;
	padding:25px 28px 100px;
	box-shadow: 0px 1px 9.5px 0.5px rgba(0, 0, 0, 0.2);
	margin-bottom:80px;
	.single_event_inner {
		.single_event_overlay {
			display: flex;
			justify-content: space-between;
			align-items: center;
			img {
				//width:calc(100% - 40px);
				width:100%;
				height: 404px;
				display: block;
				object-fit:cover;
			}
		}
		span.single_event_year {
			display: block;
			color:$red;
			font-size: 45px;
			margin-top:22px;
			@include escrow_banner_bold;
		}
		span.single_event_description {
			font-size:20px;
			line-height: 30px;
			display: block;
			margin:13px auto 0;
			max-width: 100%;
			@include source_reg;
		}
	}
}


.history_col.first {
	.single_event {
		&:last-of-type {
			.single_event_inner {
				.single_event_overlay {
					&:after {
						margin-top:-10px;
					}
				}
			}
		}
		.single_event_inner {
			.single_event_overlay {
				&:after {
					content:'';
					width:40px;
					height:2px;
					background: $blue;
					display: block;
					margin-right: -69px;
				}
			}
			span.single_event_year, span.single_event_description {
				//padding-right:40px;
			}
		}
	}
}


.history_col.second {
	margin-top:300px;
	.single_event {
		background:#e8ecef;
		margin-left: 40px;
		.single_event_inner {
			.single_event_overlay {
				&:before {
					content:'';
					width:40px;
					height:2px;
					background: $blue;
					display: block;
					margin-left:-70px;
				}
			}
			span.single_event_year, span.single_event_description {
				//padding-left:40px;
			}
		}
	}
}




@media screen and (max-width: 1530px) {
	
	
	.history_wrapper {
    max-width: 1170px;
   }
	
	
	
	.single_event {
		width: 100%;
    max-width: 544px;
   }
	
	
	
} /* Media Query */


@media screen and (max-width: 1310px) {
	
	
	body.page-template-template-biostuart {
		.internal_wrapper {
			padding-top: 68px;
		}
	}
	
	.att_history_inner {
		max-width: 900px;
	}
	
	
	.att_bio_awards_inner {
		max-width:900px;
	}
	
	
	
	.timeline_wrapper.desktop {
		display: none;
	}
	
	
	.timeline_wrapper.tablet {
		display: block;
		padding-bottom: 248px;
	}
	
	.timeline_inner {
		max-width: 650px;
		margin:203px auto 0;
	}
	
	.my_heritage_wrapper {
		margin-bottom:93px;
	}
	
	
	.single_event {
		height:auto;
		margin-bottom:60px;
		padding: 25px 28px 52px;
		max-width:100%;
		.single_event_inner {
			.single_event_overlay {
				display: block;
				img {
					width:auto;
					max-width:100%;
					height:auto;
					object-fit:initial;
				}
			}
			span.single_event_year {
				margin-top: 28px;
			}
		}
	} 
	
	
	    
	
	
	
} /* Media Query */



@media screen and (max-width: 1200px) {
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	body.page-template-template-biostuart {
		.internal_wrapper {
    	padding-top: 68px;
    	padding-left:35px;
    	padding-right:35px;
    }
    .att_bio_content {
	    padding-left:35px;
	    padding-right:35px;
    }
	}
	
	.att_bio_awards_inner {
    max-width: 580px;
	}
	
	
	.att_bio_awards {
    margin-top: 58px;
    margin-bottom: 91px;
  }
  
  .att_history_slider {
	  padding: 0 50px;
  }
  
  
  .single_event {
	  
  }
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	body.page-template-template-biostuart {
		.internal_wrapper {
    	padding-top: 43px;
    	padding-left:40px;
    	padding-right:40px;
		}
		.att_bio_content {
			padding-left:0;
			padding-right:0;
		}
	}
	
	
	.att_history_wrapper {
		display: none;
	}
	
	
	.timeline_wrapper {
		margin-top:0;
	}
	
	.att_bio_awards_slider {
		.slick-dots {
			bottom: -44px;
		}
	}
	
	
	.att_bio_awards {
		margin-bottom: 118px;
	}
	
	
	.timeline_inner {
    margin: 58px auto 0;
	}
	
	.my_heritage_wrapper {
		margin-bottom: 58px;
		span.my_heritage_title {
			font-size: 44px;
		}
	}
	
	
	.timeline_wrapper.tablet {
		padding-left:40px;
		padding-right:40px;
		padding-bottom: 49px;
	}
	
	
	.single_event {
		margin-bottom: 34px;
		.single_event_inner {
			span.single_event_year {
				font-size: 35px;
				margin-top: 15px;
			}
			span.single_event_description {
				font-size: 20px;
				line-height: 24px;
				max-width: 335px;
			}
		}
	}
	
	   
	
	
} /* Media Query */


@media screen and (max-width: 500px) {
	
	
/*
	.timeline_inner {
		max-width:255px;
	}
*/
	
	
} /* Media Query */