

.location_wrapper {
	width:100%;
	background: $greylight;
	padding: 1px 100px 90px;
	margin-top: 335px;
}

.location_inner {
	display: flex;
	max-width: 1540px;
	margin: -172px auto 0;
	justify-content: space-between;
	height: 615px;
}


/*
.single_locations {
	
	background: #fff;
	box-shadow: 0px 2px 40px 0px rgba(5, 21, 63, 0.2);
	&:nth-of-type(1), &:nth-of-type(3) {
		flex-basis:30%;
		height:470px;
	}
	&:nth-of-type(2) {
		flex-basis:40%;
		height:580px;
	}
	a {
		text-decoration: none;
		img {
			width:100%;
			height:auto;
			display: block;
		}
	}
}

.single_location_content {
	text-align: center;
	padding:25px 45px 70px;
	span {
		
		color:$blue;
	}
	span.location_title {
		font-size: 40px;
		display: inline-block;
		padding-bottom:20px;
		border-bottom: 2px solid $red;
		@include escrow_txt_bold;
	}
	span.location_adress {
		display: block;
		font-size: 20px;
		line-height: 25px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin-top:19px;
		@include source_black;
	}
}
*/



.new_single_location {
	flex-basis: 28%;
	&:hover {
		a {
			.new_single_locations_image {
				img {
					transform: scale(1.2);
				}
			}
		}
	}
	a {
		display: block;
		text-align: center;
		box-shadow: 0px 2px 40px 0px rgba(5, 21, 63, 0.2);
		text-decoration: none;
		.new_single_locations_image {
			overflow: hidden;
			height:320px;
			position: relative;
			img {
				width:100%;
				height:100%;
				position: absolute;
				top:0;
				left:0;
				transform: scale(1);
				transition: all 1200ms cubic-bezier(.17,.66,.34,.98);
				object-fit:cover;
			}
		}
		.new_single_location_content {
			background: #fff;
			padding:26px 10px 40px;
			span {
				
				color:$blue;
			}
			span.new_single_location_title {
				font-size: 30px;
				display: inline-block;
				padding-bottom:15px;
				border-bottom:2px solid $red;
				@include escrow_txt_bold;
			}
			span.new_single_location_address {
				display: block;
				font-size: 17px;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				margin-top:20px;
				@include source_black;
			}
		}
	}
}


.new_single_location {
	&:nth-of-type(2) {
		flex-basis: 37%;
		margin-top:-75px;
		a {
			.new_single_locations_image {
				height:427px;
			}
			.new_single_location_content {
				 padding-top: 43px;
				span.new_single_location_title {
					font-size: 40px;
					line-height: 50px;
				}
				span.new_single_location_address {
					font-size: 20px;
					line-height: 25px;
				}
			}
		}
	}
}





.bottom_location_wrapper {
	width:100%;
	padding: 134px 80px 0;
}

.bottom_location_inner {
	max-width:1650px;
	margin:0 auto;
}

.bottom_location_title_wrapper {
	text-align: center;
	img {
		max-width: 100%;
		height: auto;
		display: block;
		margin:0 auto;
	}
	img.usa {
		margin-top:-46px;
	}
	span {
		display: block;
	}
	span.bottom_location_header {
		font-size: 60px;
		margin-top:20px;
		@include escrow_banner_bold;
	}
	span.bottom_location_subheader {
		text-transform: uppercase;
		font-size: 30px;
		color:$orange;
		margin-top:27px;
		@include source_black;
	}
}


.bottom_location_grid {
	margin:85px 0 124px;
	display: flex;
	flex-wrap:wrap;
}



.bottom_single_location {
	flex-basis:calc(25% - 40px);
	margin: 0 20px 120px;
	overflow: hidden;
	&:hover {
		a {
			.bottom_location_img {
				.bottom_location_overlay {
					transform: translateY(-100%);
				}
			}
		}
	}
	a {
		text-decoration: none;
		display: block;
		.bottom_location_img {
			position: relative;
			img {
				width: 100%;
				height:auto;
				display: block;
			}
			.bottom_location_overlay {
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				z-index: 1;
				background:rgba(5,21,63,0.55);
				display: flex;
				justify-content: center;
				padding:0 30px;
				align-items: center;
				//opacity: 0;
				transform: translateY(0%);
				transition: transform 1300ms cubic-bezier(.17,.66,.34,.98);
				span {
					content:"Explore This Location";
					color:$yellow;
					text-transform: uppercase;
					font-size: 25px;
					line-height: 31px;
					letter-spacing: 0.1em;
					max-width:225px;
					text-align: center;
					@include source_black;
				}
			}
		}
		.bottom_location_content {
			text-align: center;
			span.bottom_location_title {
				display: inline-block;
				color:$red;
				font-size: 30px;
				margin-top:19px;
				padding-bottom:20px;
				border-bottom:2px solid $red;
				@include source_bold;
			}
		}
	}
}



@media screen and (max-width: 1515px) {
	
	
	.location_inner {
		height: 535px;
	}
	
	.new_single_location {
		flex-basis: 30%;
		&:nth-of-type(2) {
			flex-basis: 34%;
			margin-top: -54px;
			a {
				.new_single_locations_image {
					height: 396px;
				}
				.new_single_location_content {
					padding-top: 24px;
				}
			}
		}
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1620px) {
	
	
	
	.bottom_single_location {
		flex-basis: calc(33.3333% - 40px);
	}
	
	
} /* Media Query */


@media screen and (max-width: 1390px) {
	
	
	.location_inner {
		flex-direction: column;
		max-width:675px;
		height:auto;
		margin: -106px auto 0;
	}

	
	.new_single_location {
		margin-bottom:33px;
		a {
			.new_single_locations_image {
				height:auto;
				img {
					position: relative;
					display: block;
				}
			}
			.new_single_location_content {
				span.new_single_location_title {
					font-size: 40px;
				}
			}
		}
	}
	
	
	.new_single_location {
		&:nth-of-type(1) {
			order:2;
		}
		&:nth-of-type(2) {
			order:1;
			margin-top:0;
			a {
				.new_single_locations_image {
					height:auto;
				}
				.new_single_location_content {
					span.new_single_location_title {
						font-size: 40px;
					}
				}
			}
		}
		&:nth-of-type(3) {
			order:3;
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1250px) {
	
	
	.bottom_single_location {
		flex-basis: calc(50% - 40px);
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	.location_wrapper {
		margin-top:190px;
		padding: 1px 70px 55px;
	}
	
	
	.location_inner {
/*
		display: block;
		max-width:675px;
		margin-left: auto;
		margin-right: auto;
*/
	}
	
	
	.single_locations {
		margin-bottom:33px;
	}	
	
	.bottom_location_wrapper {
		padding: 90px 50px 0;
	}
	
	.bottom_single_location {
		a {
			.bottom_location_content {
				span.bottom_location_title {
					font-size: 26px;
					padding-bottom: 15px;
				}
			}
		}
	}
	
	.bottom_location_grid {
		margin:85px 0;
	}


	.bottom_single_location {
		margin: 0 20px 50px;
		a {
			.bottom_location_img {
				.bottom_location_overlay {
					transform: translateY(0);
				}
			}
		}
	}

	
	
} /* Media Query */



@media screen and (max-width: 865px) {
	
	
	
	.bottom_location_title_wrapper {
		span.bottom_location_subheader {
			max-width:400px;
			margin-left:auto;
			margin-right:auto;
		}
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
	.location_wrapper {
		margin-top:160px;
		padding: 1px 40px 44px;
	}
	
	.single_location_content {
		padding: 25px 45px 40px;
		span.location_title {
			font-size: 34px;
		}
	}
	
	
	
	.bottom_single_location {
		flex-basis: 100%;
	}
	
	.bottom_location_grid {
		max-width:415px;
		margin-left:auto;
		margin-right:auto;
	}

	
	
	.bottom_location_grid {
		margin:55px 0 20px;
	}
	
	.bottom_location_wrapper {
		padding: 65px 40px 0;
	}


	.bottom_single_location {
		margin-left:0;
		margin-right:0;
	}
	
	.bottom_location_title_wrapper {
		span.bottom_location_subheader {
			font-size: 26px;
		}
	}
	
	.single_location_content {
    padding: 25px 25px 40px;
	}
	
	
	
	.new_single_location {
		a {
			.new_single_locations_image {
				img {
					
				}
			}
			.new_single_location_content {
				padding:14px 25px 40px;
				span.new_single_location_title {
					font-size: 34px;
				}
				span.new_single_location_address {
					font-size: 20px;
				}
			}
		}
	}
	
	
	.new_single_location {
		&:nth-of-type(2) {
			a {
				.new_single_locations_image {
					height:auto;
				}
				.new_single_location_content {
					padding-top: 14px;
					span.new_single_location_title {
						font-size: 34px;
					}
					span.new_single_location_address {
						font-size: 20px;
					}
				}
			}
		}
	}

	
	
	
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 385px) {
	
	
	.bottom_location_title_wrapper {
		span.bottom_location_header {
			font-size: 52px;
		}
	}
	
	
	
} /* Media Query */
